# Ignorar pastas temporárias e artefatos gerados
nbproject/private/
build/
dist/

# Logs e arquivos temporários
*.log
*.tmp

# Arquivos compilados
*.class

# Configurações locais da IDE
*.iml

# Arquivos específicos do sistema operacional
.DS_Store
Thumbs.db